{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Footer</title>
    <link rel="stylesheet" href="{% static 'store/footer.css'%}" />
    <link rel="stylesheet" href="{% static 'store/carousel.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>

     <div class="container my-5">
    <div class="section-title mb-4">
      <span class="line"></span>
      <h3 class="shop-title">SHOESTORE</h3>
      <span class="line"></span>
    </div>




    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-col">
          <h4>ABOUT</h4>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Stories</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>HELP</h4>
          <ul>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Cancellation & Returns</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>CONSUMER POLICY</h4>
          <ul>
            <li><a href="#">Cancellation & Returns</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>

        <div class="footer-col address">
          <h4>Mail Us:</h4>
          <p>
            shoestore Private Limited,<br />
            Bengaluru, 560103,<br />
            Karnataka, India
          </p>

          <div class="social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-x-twitter"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>

        <div class="footer-col address">
          <h4>Registered Office Address:</h4>
          <p>
            shoestore Private Limited,<br />
            Bengaluru, 560103,<br />
            Karnataka, India<br /><br />
            Telephone : 044-
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
