.carousel-item img {
    height: 300px;

}



.mb-4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col-md-4:hover{
    transform: scale(1.2);

}
.shop{
   text-align:center;

}




.section-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-title .line {
    flex: 1;
    height: 2px;
    background: #000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.35);
}

.shop-title {
    margin: 0;
    white-space: nowrap;
    letter-spacing: 2px;
    font-weight: 600;
}
