.custom-navbar {
    background: rgba(9, 9, 9, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    height: 70px;
}

.navbar-brand {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.nav-link {
    font-weight: 500;
    color: #f3f1f1 !important;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background: #317be3;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover{
    transform: scale(1.15);
}

.nav-icon {
    font-size: 1.3rem;
    text-decoration: none;
}

.nav-user {
    font-size: 0.9rem;
    color: #555;
}

.btn{
    background-color: white;
}

.btn:hover{
    background-color: blue;
    color: white;
}
.login-btn {
    background-color: #0d6efd;
    color: white !important;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.login-btn:hover {
    background-color: #0b5ed7;
    color: white;
}
body {
    padding-top: 70px; /* adjust to your navbar height */
}
.text-primary{
    text-shadow:10px;
}

