/* Global Styles */
body {
    background: #f5f5f5;
}

/* Navbar */
.navbar {
    padding: 12px 0;
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-link {
    font-weight: 500;
}

/* Cards */
.card {
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
}

.card-img-top {
    object-fit: cover;
}

/* Buttons */
.btn-primary,
.btn-success,
.btn-dark {
    border-radius: 8px;
    padding: 6px 14px;
}

/* Login & Signup Form */
form {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

form label {
    font-weight: 500;
}

form input {
    padding: 10px;
}

/* Cart */
table {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    background: #222;
    color: #fff;
}

.table td {
    vertical-align: middle;
}

.carousel-item img {
    height: 450px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0,0,0,0.45);
    padding: 15px;
    border-radius: 8px;
}
.btn-outline-light{
    color: rgb(246, 23, 71);


}
.btn{
    color: rgb(246, 23, 71);
}
